#more {
  display: none; }

.news .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .news .row .column {
    text-align: center;
    padding-bottom: 5px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.8); }
    .news .row .column img {
      display: block;
      width: 100%; }
      .news .row .column img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.6; }
    .news .row .column h2 {
      color: #98B4BC; }
    .news .row .column p {
      color: red;
      padding: 5px;
      display: none; }
    .news .row .column button {
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #98B4BC;
      color: #fff; }
